<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связываемся с вами, чтобы уведомить, что ваш email меняется на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связываемся с вами, чтобы уведомить, что ваш email был изменён на <%= @resource.email %>.</p>
<% end %>